# 📂 Folders to Ignore
node_modules/
./*node_modules
./*git.ignore
./next*
out/
build/
pre/

# 🔐 Environment Variables & Secrets (VERY IMPORTANT)
./*env
./*env.local

# 🛠️ System Files
/*DS_Store
/*Thumbs.db

# 🧪 Debug & Logs
/*npm-debug.log*
/*yarn-debug.log*
/*yarn-error.log*
/*.pnpm-debug.log*

