These env variables have to be put inside the .env file of your project folder with your own values

MONGODB_URI="mongodb://localhost:27017/Veriflow"
NEXT_PUBLIC_CLOUD_NAME ="HJFH3NDSLWh"
NEXT_CLOUD_API_KEY="123456789098765"
NEXT_CLOUD_API_SECRET="something-secret"
NEXT_SIGHTENGINE_API_USER="1098341"
NEXT_SIGHTENGINE_API_SECRET="something-secret"
NEXT_JWT_SECRET="can-be-any-secret-of-your-own-choice"
